.accordianMenu{
    font: 12px/20px 돋움;
    color: #424242;
    background-color: #fff;
    padding: 10px;
    width: 500px;
    margin: 0;
}
.accordianMenu h1{
    margin: 0;
    font-size: 20px;
    /* 그림자 방향 */
    text-shadow: 2px 2px 2px #aeaeae;
}
.accordianMenu h2{
    margin: 5px 0; /* 위 아래 5px, 왼쪽 오른쪽 0 */
    padding: 0;
}
.accordianMenu h2 a{
    font-size: 15px;
    display: block;
    font-weight: normal;
    color: #424242;
    text-shadow: 2px 2px 2px #aeaeae;
    text-decoration: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#d4f4fa),to(#6799ff));
    background: -moz-linear-gradient(top,#d4f4fa,#6799ff);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
}
.accordianMenu :target h2 a , .accordianMenu h2 a:hover{
    background: -webkit-gradient(linear,left top,left bottom,from(#6799ff),to(#d4f4fa));
    font-weight: 800;
}
.accordianMenu p{
    padding: 0 10px;
    margin: 0;
    height: 0;
    overflow: hidden;
    /* -webkit-transition: height 0.5s ease-in; */
    /* ease-in : 처음에 느리다 마지막에 급격하게 빨라짐 */
    /* ease : 처음에 빠르다가 마지막에 느려짐 */
    /* ease-out :  처음에 빨랐다가 마지막에 급격하게 느려짐*/
    /* ease-in-out : 처음에 느리다가 중간에 빨라졌다 마지막에 느려짐 */
    transition: height 0.5s ease-in;

}
/* 클릭했을 때 메뉴 나오게하기 */
.accordianMenu :target p{
    height: 100px;
    overflow: auto;
}