/*  div_style_test1.css */

body, div, input, button{
    margin: 0;
    padding: 0;
}
#mask{
    width: 100%;
    height: auto;
    font-size: 12pt;
    color: black;
}
#search_wrap{
    width: 1000px;
    height: 80px;
    margin:  0 auto;
    /* 안보인다고 해서 테두리를 넣을 경우 틀어질수 있음.
    확인차 배경색을 넣어주기 */    
}
#menu_wrap{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
#wrap{
    width: 1000px;
    height: auto;
    /* margin 순서 중요 */
    margin: 0 auto;
    margin-top: 20px;
}
.search_form{
    width: 100%;
    height: 50px;
    /* 여백순서: 위,우,아래,좌 */
    padding: 20px 0 10px 0;
    display: flex;
    /* dispaly: nane, block(한줄 전체),
    inline(해당태그가 가지고 있는 내용만큼만) */
}
.logo{
    width: 200px;
    font-size: 40px;
    font-weight: 800;
    color: #19ce60;
    /* float 태그는 반응형 만들기 어려움 */
    /* float: left; */
}

/* margin 설정시에는 height 설정해야함 */

#search_word{
    height: 40px;
    width: 400px;
    font-size: 35px;
    border: 0;
}
.search_bt>button{
    height: 40px;
    width: 100px;
    font-size: 25px;
    /* 검색창에 검은선이 뜬 이유 */
    border: 0;
    background-color: #19ce60;
    color: white;
}
.search_bt>button:hover{
    cursor: pointer;
}
.search{
    display: flex;
    border: 2px solid #19ce60;
    margin-top: 6px;
    height: 40px;
}
.menu_list{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}
#menu_ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 1000px;
    height: 30px;
    font-size: 15px;
    font-weight: 800;
}
.menu_nav{
    float: left;
    /* 글씨 크기만큼 너비를 같게 해줌 */
    display: inline;
    /* 계산식 쓸 때 띄어쓰기 잘해야함! 
        사칙연사 앞뒤로 띄어쓰기 잘해주기 */
    /* width: calc(1000 / 10  * 1px); */
    /* width: 10%;
        100/개수= % */
    height: 30px;
    line-height: 30px;
    color: #19ce60;
    margin-right: 20px;
}
.menu_nav:hover{
    cursor: pointer;
}
#wrap{
    display: flex;
}
#contents{
    width: 700px;
    height: 800px;
    background-color: #d1b2ff;
}
#sub{
    width: 280px;
    height: 800px;
    background-color: #FAF4C0;
    margin-left: 20px;
}