#mbti_mask{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
#mbti_wrap{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.mtitle{
    font-size: 25pt;
    text-align: center;
    width: 1200px;
    height: 50px;
    padding-bottom: 20px;
    font-weight: 900;
    font-family: 돋움;
}

.h3{
    padding-bottom: 10px;
}
.mbti_list_wrap ol{
    padding: 0;
    margin: 0;
    -webkit-padding-start: 20px;
    margin-bottom: 30px;
}
.mbti_list_wrap ol li{
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 돋움;
}
#mbti_form{
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    height: 95%;
    
}
.boxtitle, .box{
    display: flex;
    width: 1200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: left;
    font-size: 15px;
}
.t2{
    height: 50px;
    line-height: 25px;
}
.t3{
    line-height: 50px;
}
.boxtitle{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}
.count, .check{
    width: 10%;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;;
}
.type{
    width: 35%;
    /* text-align: left; */
}
.sum{
    width: 40%;
    text-align: left;
    line-height: 50px;
    font-weight: 800;
    padding-left: 10px;
}
.s1{
    width: 52%;
}
.c1{
    width: 11.7%;
}
.c2{
    width: 11.5%;
}
.b1{
    padding-left: 10px;
    font-size: 25px;
}
input[type=checkbox]{
    zoom: 1.5;
}
.empty_box{
    background-color: gray;
}
.b_line{
    background-color: rgb(236,255,255);
}