body{
    margin: 0 auto;
    padding: 0;
}
#container{
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
#barwrap{
    margin: 0 auto;
    width: 1800px;
    height: 700px;
    display: flex;
}
#content_wrap{
    margin: 0 auto;
    width: 350px;
    height: 700px;
}
.logo{
    width: 350px;
    height: 120px;
    text-align: center;
}
.logo img{
    max-width: 350px;
    max-height: 120px;
}
.content{
    width: 350px;
    height: 700px;
}
.logout{
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.logout ul{
    padding: 0;
    list-style-type: none;
}
.logoutul li{
    font-size: 15pt;
    font-weight: 500;
}
.logout input{
    width: 150px;
    height: 25px;
}
.content_list{
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
.content_list ul{
    padding: 0;
    list-style-type: none;   
}
.list li{
    padding-bottom: 4px;
    font-size: 15pt;
    font-weight: 500;
}
.list li a{
    color: black;
    text-decoration: none;
}
#main_wrap{
    margin: 0 auto;
    width: 1450px;
}
#item_wrap{
    margin: 0 auto;
    width: 1450px;
    height: 680px;
    margin-top: 40px;
}
.cloth_wrap{
    margin: 0 auto;
    width: 1450px;
    display: flex;
}
.c1{
    margin: 0 auto;
    margin-bottom: 90px;
}
.item{
    width: 300px;
    height: 260px;
    padding: 0 10px 0 10px;
    text-align: center;
    margin-left: 50px;
    font-size: 13pt;
    text-align: left;
}
.item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.item a:hover{
    font-weight: bold;
}
hr{
    margin-bottom: 0;
    margin-top: 5px;
}
.item_img{
    width: 280px;
    height: 240px;
    margin-bottom: 12px;
    overflow: hidden;
}
.item_img img{
    width: 280px;
    height: 240px;
    transition: 0.5s;
}
.item_img:hover img{
    transform: scale(1.1);
}
#footwrap{
    margin: 0 auto;
    width: 1800px;
    height: 150px;
}
#foot{
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}
#foot ul{
    list-style-type: none;
    color: rgb(179, 177, 177);
}
#foot ul li{
    font-size: 13px;
}
#cs_info{
    margin-left: 550px;
    margin-right: 220px;
}
#add_info ul li{
    margin-bottom: 5px;
}

